# Ignore IntelliJ IDEA project-specific files
.idea/
.idea/*
.idea/**/*

# Ignore SonarLint specific files
.idea/sonarlint/
.idea/sonarlint/*
.idea/sonarlint/**/*

# Ignore other potentially unwanted IDE files
*.iml
.vscode/
